$clrBlack: #191C1F;
$clrDarkGray: #5E646A;
$clrGray: #83898F;
$clrMidGray: #C2C8CD;
$clrLightGray: #ECEFF2;
$clrExtraLightGray: #F6F8FA;
$clrWhite: #FFFFFF;

$clrDangerous: #F13636;
$clrGreenSuccess: #25CD82;

$clrPrimary: #2A6CEA;
$clrPrimaryDisabled: #ABCAE6;
$clrPrimaryHover: #397DFF;

// $shadowCard: 0 5px 20px rgba(47,61,2,.1);
// $shadowCardHover: 0 10px 30px rgba(47,61,2,.15);