@import '_mixins';
@import '_colors';
@import '_normalize';
@import 'components/**/*.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #000;
    background: #fff;
}

ol,
ul {
    list-style: none;
}

input {
    outline: none;
}

a {
    font-size: 16px;
    font-weight: 600;
    line-height:  150%;
    text-decoration: none;
}

a:link,
a:active,
a:visited,
a:hover {
    color: #000;
}

button {
    font-size: 16px;
    font-weight: 600;
    line-height:  150%;
}

p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 40px;
}